$baseSpacing: 15px;

.o-grid-common{
    margin: $baseSpacing *8;
    margin-top: $baseSpacing*3;
    padding: $baseSpacing*3;
    background-color:#9d9d9d;
}

.o-grid-gallery{
display: flex;
flex-wrap: wrap;
}

