.c-plot_layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: $baseSpacing;
    grid-template-areas: "form plot "
    "form plot"
    "form plot";
}


.c-form{
    grid-area: form;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: #f6f6f6;
    input{
        width:30px;
    }
    button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor:pointer;
    }
    
}

.c-form-textarea {
    width: 250px;
  height: 100px;
}

.c-plot {
    grid-area: plot;
}